.btnContainer {
    display: flex; justify-content: center;
    margin: 1rem 0;
}

.enter {
    color: #454545; font-weight: 600; font-size: 22px; text-transform: uppercase;
    padding: 0.2rem 1.5rem;
    border: 2px solid #454545;
    border-radius: 50px;
    transition: all 0.2s;
    &:hover {
        background-color: #454545;
        color: #fff;
    }
    &:focus {
        outline: None;
    }
}

@media (max-width: 767px) {
    .enter { font-size: 18px; }
}