.container {
    max-width: 1366px;
    padding: 0px 0px;
    margin: 0 auto;
    min-height: calc(100vh - 350px);
}

.fullContainer {
    padding: 0px 0px;
    margin: 0 auto;
    min-height: calc(100vh - 115px);
}