
.section { 
    width: 100%;
    // margin-top: -20px;
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    max-width: 100%;
}

.motto {
    position: relative; 
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.btnContainer {
    position: absolute; width: 100%; height: 100%; left: 0; top: 0;
    display: flex; flex-direction: column; justify-content: center;
}

.enter {
    color: white; font-weight: 600; font-size: 22px; text-transform: uppercase; 
    padding: 2px 20px 0 20px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.2s;
    &:hover {
        background-color: #fff;
        color: #454545;
    }
    &:focus { 
        outline: none;
    }
}

.imgContainer {
    width: 100%; 
    padding-top: 33.5%;
    // background: url('/images/banner.jpg') no-repeat center center fixed;
    // -webkit-background-size: 100% 100%;
    // // -moz-background-size: cover;
    // // -o-background-size: cover;
    // // background-size: cover;

}

@media (max-width: 767px) {
    .image { 
        height: 250px;
        max-width: unset;
        width: unset !important;
    }

    .motto { font-size: 28px; }

    // .btnContainer { top: 20%; }

    .enter { font-size: 18px; }
}

@media (max-width: 500px) {
    .motto { font-size: 24px; }
}