.head {
    background-color: #343639;
    color: white;
    padding-left: 20px;
    svg {
        display: inline-block;
        margin-right: 10px;
        width: 15px;
        transition: all 0.3s ease-in-out;
        // transform: rotateZ(0deg);        
        // &.open {
        //     transform: rotateZ(180deg);
        // }
    }


    span {

    }
   
}

.iconOpen {
    transform: rotateZ(-180deg);
}

.icon {
    transform: rotateZ(0deg);
    transition: all 0.3s;
}

.body {
    padding: 0px 10px 0px 4rem;
    // max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    &.open {
        padding: 10px 10px 10px 4rem;
        height: unset;        
    }
}


.bodyOpen {
    padding: 10px 10px 0px 4rem;
    // max-height: 100vh;    
    height: unset;    
}
