.container { 
    // border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
}

.brand { 
    background-color: #3F3F3F;
    font-size: 22px;
    padding: 0.3rem 20px 0.4rem 1rem;
    color: white;
    span { font-size: 16px; }
    border-bottom-right-radius: 25px;
}

.priceItem { font-size: 14px; }

.priceNumber { color: #818181; }

.retailPrice {
    text-transform: uppercase;
    color: #818181;
    font-size: 14px;
}

.body { 
    display: flex; flex-wrap: wrap;
    padding-top: 10px;
}

.mainImageCon {
    width: 100%;
    max-width: 480px;
    padding-top: 51%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.mainImage {
    position: absolute;
    left: 0;
    top: 0;
    // width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    // max-width: 480px;
    // margin: 0 auto;
}

.button {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    background: #3F3F3F;
    color: #fff;
    border-radius: 40px;
    // margin-bottom: 20px;
    text-transform: uppercase;
    height: 35px;
}


.textGray {
    color: #818181;
}

.countSelector {
    width: 300px;
    //margin: 5px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    background-color: #898989;
}

.countList {
    width: 100%;
    background-color: #F4F4F4;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    // &:first-child {
    //     border-left: 1px solid #cdcdcd;
    // }

    span {
        width: 100%;
        text-align: center;
        &:hover { background-color: #cdcdcd; }
    }
}