.link {
    color: rgb(21, 111, 247);

    &:hover {
        color: rgb(15, 99, 224);
        text-decoration: underline;
    }
}

.sectionTitle {
    color: #454545;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
}

.listItem {
    margin-bottom: 0.8rem;
}

.table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 14px;
    }
}

.mapContainer {
    width: 100%;
    margin: 25px auto;
    max-width: 767px;
}
.formContainer {
    width: 100%;
    margin: 25px auto;
    max-width: 767px;
}

.ratioContainer {
    padding-top: 50%;
    position: relative;
}

.mapWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a1a1a1;
}
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: 35px;
    height: 17px;
    margin: 0 0 0 -60px;

}
.dangerText {
    margin-left: 54%;
    color: red;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

@media screen and (min-width: 415px){
    .checkbox {text-align: center;}
    .w-full {width: 50%;}
  }