.rwt__tab {
    background: #f1f1f1;
    border-bottom: 1px solid #707070;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem 2rem;
    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.rwt__tablist[aria-orientation="vertical"] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #ddd;
}
.rwt_tablist[aria-orientation="vertical"] .rwt_tab[aria-selected="true"]:after {
    right: -1px;
    top: 0;
    height: 100%;
    border-right: none;
}
.rwt__tabs[data-rwt-vertical="true"] {
    display: flex;
    margin-top: 71px;
    margin-bottom: 71px;
    border: 1px solid;
    border-radius: 13px;
}
button#vertical-tab-one-tab {
    background: #000;
    color: #fff;
}
div#vertical-tab-one,.rwt__tabpanel  {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.pull-left{
    text-align: left;
}
.rwt__tabs[data-rwt-vertical="true"] {
    display: flex;
    margin-top: 71px;
    margin-bottom: 71px;
    border-bottom: 1px solid;
    border-radius: 13px;
    width: 1066px;
    margin-left: -186px;
    box-shadow: 3px 1px 8px 1px grey;
}

h5.text-sm.text-center.uppercase {
    background: #f1f1f1;
    margin: 0 0 0 -17px;
    padding: 17px 0 17px 0;
    border: 1px solid;
    border-top: none;
    border-right: none;
}
.icon{
    width: 11%;
    margin: 0 25px 0 0;
}
.iconSpan{
    display: flex;
}
.head{
    border-bottom: 1px solid #707070;
    background: #f1f1f1;
    margin: 0 0 0 -16px;
    padding: 25px 0 29px 0px;
}
.head >.iconSpan >.icon {
    width: 6%;
    margin: 0 10px 0 0;
}
.head >.iconSpan {
margin-left:43%;
}
.body {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    border: 1px solid;
    height: 350px;
    margin-bottom: 119px;
}

.body >.head{
    border-bottom: 1px solid #707070;
    background: #f1f1f1;
    padding: 12px 0 15px 0px;
    width: 100%;
    margin: 0px;
}
.body >.head >span{
    margin-left: 20%;
}
table{
    width: 100%;
}
td,th{
    border-collapse: collapse;
    border: 1px solid;    
    text-align: center;
}
.order-box {
    border: 1px solid #909090;
    background-color: #f1f1f1;
    width: 345px;
    margin: 0 13px 0 10px;
    height: 150px;
}
.order-btn {
    border: 1px solid #e2e8f0;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 8px 10px 8px;
    font-size: 13px;
    margin: 12px 0 0 0;
}
.desktop-view{display: flow-root;}
.mobile-view{display: none;}
.mobile-tab ,.mobile-link{
    width: 100%;
    padding: 7px 0px;
    background-color:#f1f1f1;
    border-bottom: 1px solid #909090;
}
.mobile-tab >.iconSpan {
    margin-left:22%;
    font-size: 12px;
    }
    .marginLeft{
        margin-left:127px
    }
    /* Bike and e-bikes page design */
    .react-tabs__tab {
        display: inline-block;
        border: 1px solid transparent;
        border-bottom: none;
        bottom: 0px;
        position: relative;
        list-style: none;
        padding: 12px 12px;
        cursor: pointer;
        height: 66px;
      
      
    }
    .react-tabs__tab-list {
        border-bottom: 1px solid transparent;
        margin: -2px 0 9px 0px !important;
        padding: 0;
       
    }
    .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100 {
        width: 1345px;
        margin: -10px -46px 0 -9px;
       
    }
     /* end here*/
     /* for login page */
     .margin-left{
        margin-left:200px
    }
    .style_formGroup__MFAER {
       
        padding: 7px 0 7px 0;
    }
    .facebookBtn{
        width: '85%'; 
        background-color: '#3f51b5'; 
        padding: 12px; 
        font-weight: 'bold'; 
        border-radius: 20px;
        margin-top: 20px
    }
    .socialBtn{
        width: '85%' !important; 
        background-color: '#3f51b5' !important; 
        padding: 12px; 
        font-weight: 'bold'; 
        border-radius: 20px;
        margin-top: 20px
    }
    .googleBtn{
       margin-left: 42px;
    }
    .linkStyle{
        color: #000;
    }
    .linkStyle:hover{
        text-decoration: underline;
    }
    .style_formGroup_MFAER .style_error_3JwnK {
        color: #f72929;
        visibility: visible;
        font-size: 12px;
        padding-top: 5px;
        margin: 0 0 0 24px;
    }
    .social-login {
        width: 100%;
        padding:0 35px;
    }
    .textStyle{
        font-size: 14px;
        margin-left: 50px;
    }
     /*login page desgin end here  */

     [type="checkbox"], [type="radio"] {
        box-sizing: border-box;
        padding: 0;
        width: 35px;
        height: auto;
        margin: 0 0 0 -60px;
    }
    .max-w-screen-sm.mx-auto.formWidth {
        max-width: 1080px;
    }
    .fieldDiv.style_formGroup__MFAER.style_wFull__qimzk {
        width: 38%;
        margin-left: 77px;
    }
 
    .fieldDiv.style_formGroup__MFAER.style_wFull__qimzk >input {
        border-radius: 25px;
        padding: 13px 0 12px 18px;
    }
    select#country {
        border: 1px solid #aeaeae;
        height: 48px;
        border-radius: 26px;
        padding: 3px 10px 5px 8px;
        margin: 22px 0 0 0;
    }
    .justify_end {
        justify-content: flex-end;
    }
    .react-tabs > .react-tabs__tab-list {
        border: none;
    }
    .style_payButtonCon__bFYYw button {
        padding: 1px 20px;
        color: #fff;
        border-radius: 4px;
        margin: -17px 0 0 0;
        font-size: 14px;
        font-weight: 500;
        font-style: italic;
    }
    p.mx-6.orText {
        margin: -13px 9px 0 9px;
    }
    .style_menuList__3kqAr {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 64px 0 0;
    }
    ol{
        list-style: revert;
        margin: 0;
        padding: 0;
    }


  @media screen and (min-width : 200px) and (max-width : 320px){ 
    .desktop-view{display: none}
    .mobile-view{display: inline;}
    .body{
        height: auto;
        margin: 0 0 53px 37px;
    }
    .text-color{color: #000;}
    .order-box-first {
        border: 1px solid #909090;
        background-color: #f1f1f1;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .order-box {
        border: 1px solid #909090;
        background-color: #f1f1f1;
        width: 100%;
        margin: 0px 0 0 0;   
        height: 189px;    
    }
    .order-btn {
        border: 1px solid #e2e8f0;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 8px 10px 8px;
        font-size: 13px;
        margin: 15px 0 15px 4px;
    }
    .text-sm {
        font-size: 0.875rem;
        margin: 0 0 0 15px;
    }
    .text-sm-bike {
        font-size: 0.875rem;
        margin: 0 0 0 15px;
    }
    .width{
        width: 120px;
    }
    .custom-top{
        margin-top:60px
    }
    .left{margin-left: 20%;}
    .googleBtn,.facebookBtn{
        margin-left: 0;
        width: 100% !important;
    }
    .fieldDiv.style_formGroup__MFAER.style_wFull__qimzk {
        width: 100%;
        margin-left: 0px;
    }
    .mob_flex_colm{
        flex-direction:column;
       }
  }
  input#doNotShowAgain {
    margin: 0 0 0 0;
}
.ReactModal__Content.ReactModal__Content--after-open.TermsOfUSER {
    position: absolute;
    inset: 100px !important; 
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto !important;
    border-radius: 25px !important;
    outline: none;
    padding: 20px;
    margin: 105px 24px 0 33px;
    -webkit-overflow-scrolling: touch !important;
    overflow-y: scroll !important;
}
.headHIW {
    background-color: #3F3F3F;
    font-size: 22px;
    padding: 0.3rem 20px 0.4rem 1rem;
    color: white;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}
section.TermsOfUSERHead.style_container__AMhhI{
    background-color: #fff;
    margin: -20px 0 0 -21px;
}
.style_body__26le4 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    text-align: justify;
}
.rangeslider-horizontal {
    height: 8px;
    border-radius: 4px;
    width: 53%;
    margin: 0 0 0 132px;
}
.BodyContainer_container__3qu6B {
    max-width: 1366px;
    padding: 0px 0px;
    margin: 0 auto;
    min-height: calc(100vh - 350px);
    text-align: justify;
}
.static_padding{
    padding-left:140px;
    padding-right:20px
}
.termpedding{
    padding-left: 3rem;
    padding-right: 3rem;
}
.retailsPrice {
    font-size: 15px;
}
p.error_msg {
    color: red;
    font-size: 11px;
    margin-left: 17px;
}

 
  @media  screen and (min-width:320px) and (max-width: 767px) {
   
    .desktop-view{display: none}
    .mobile-view{display: inline;}
    .body{
        height: auto;
        margin: 0 0 53px 37px;
    }
    .text-color{color: #000;}
    .order-box-first {
        border: 1px solid #909090;
        background-color: #f1f1f1;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .order-box {
        border: 1px solid #909090;
        background-color: #f1f1f1;
        width: 100%;
        margin: 0px 0 0 0;   
        height: 189px;    
    }
    .order-btn {
        border: 1px solid #e2e8f0;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 8px 10px 8px;
        font-size: 13px;
        margin: 15px 0 15px 21px;
    }
    .text-sm {
        font-size: 0.875rem;
        margin: 0 0 0 15px;
    }
    .width{
        width: 120px;
        margin: 0 0 14px 15px;
    }
    .custom-top{
        margin-top:60px
    }
    .left{margin-left: 20%;}
    .googleBtn,.facebookBtn{
        margin-left: 0;
        width: 100% !important;
    }
    .react-tabs {
        margin: 0 0 0 0px;
        width: 100%;
    }
    .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100 {
        width: 351px;
        margin: -10px 0 0 3px;
       
    }
    .fieldDiv.style_formGroup__MFAER.style_wFull__qimzk {
        width: 100%;
        margin-left: 0px;
    }
    .style_countSelector__5uLjk:hover {
        display: none;
    }
    .style_selectBox__3Eg7M{
        width: 78px !important;
    }
    .mob_flex_center{
        justify-content:center;
       }
       .react_select__control.css-yk16xz-control {
        width: 88px;
    }
    .style_selectContainer__1Foam {
        width: 92px;
        height: 45px;
        padding: 0 0 0 0;
    }
    .react-tabs > .react-tabs__tab-list {
        border: none;
    }
    .ReactModal__Content.ReactModal__Content--after-open.TermsOfUSER{
        position: absolute;
        inset: 0px !important;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: scroll !important;
        border-radius: 25px !important;
        outline: none;
        padding: 19px !important;
        margin: 105px 24px 0 33px;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
    .rangeslider-horizontal {
        height: 8px;
        border-radius: 4px;
        width: 53%;
        margin: 0 0 0 0;
    }

    .headHIW {
        background-color: #3F3F3F;
        font-size: 18px;
        padding: 0.3rem 20px 0.4rem 1rem;
        color: white;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
    }
    .style_body__26le4 {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        text-align: justify;
    }
    .static_padding{
        padding-left:36px;
        padding-right:30px
    }
    .termpedding{
        padding-left: 10px;
        padding-right: 10px;
    }
    .retailsPrice {
        font-size: 10px;
    }

  }
  @media screen and (min-width:768px){
    .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100 {
        width: 351px;
        margin: -10px 0 0 3px;
       
    }
  
  }
  @media  screen and (min-width:13600px) {
  .react-tabs {
    /* left: 10px!important; */
    margin: 0 11px 0 6px;
}
.flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100 {
    width: 1355px;
    margin: -10px -21px 0 0;
  
} 
 .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: 0px;
    position: relative;
    list-style: none;
    padding: 12px 12px;
    cursor: pointer;
    height: 66px;
   
    margin:0 11px 0 6px;
  
}
  }
  

/*====================ui chnages by manish============================*/
.paddlr10{
 padding:0px 10px;
}
.log_btn button{
        padding: 9px 10px!important;
}
.mob_bikes_tab .style_section__3Muxa{
width:100%;
padding:0px;
}
 .mob_bikes_tab .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100{
    width:100%;
        margin: -10px 0px 10px;
     
 }

 .mob_bikes_tab .style_selectBox__39Ezi{
       width: 100%;
      min-width: 190px;

 }
 .style_formGroup__MFAER input {
    width: 100%;
    line-height: 1.5;
    padding: 11px 0 10px 0;
    border: 1px solid #aeaeae;
    margin: 20px 0 -2px 0;
}


@media only screen and (min-width:310px) and (max-width:767px) {
    p.text-sm.forgorPwd {
        margin: 26px 0 0 79px;
    }
  .mob_login{
   text-align: center;
  }
 .mob_log_btm{
    margin: 0;
    text-align: center;
    width: 100%;
    margin-top: 20px;
 }
 .mob_social_login{
    width: 100%;
    margin: 0;
    padding: 8px 35px;
 }
 .mrgbtm30{
 margin-bottom:30px;
 }


.mob_bikes_tab .style_section__2BbRb{
     padding: 0;
    width: 100%;
}
 .mob_bikes_tab .style_section__3Muxa{
    width: 100%;
    float: left;
    padding: 20px 15px 10px 10px;
 }
 /* .mob_bikes_tab .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100{
    display: flex;
    flex-direction: column;
    width: auto;
    padding:10px;
 } */

 .mob_bikes_tab .style_selectBox__39Ezi{
    min-width:80%;
 }
 .style_countSelector__5uLjk:hover {
	display: none;
}
.style_selectBox__3Eg7M{
    width: 78px !important;
}
.mob_flex_center{
    justify-content:center;
   }
}
@media only screen and (min-width:1024px) and (max-width:1250px) {
/*  .mob_bikes_tab .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100{
    display: flex;
    flex-direction: column;
    min-height: 170px;
    margin-top: 8px!important;
    justify-content: center;
padding: 7px;
    
 } */

 .mob_bikes_tab .style_selectBox__39Ezi{
    min-width:100%;
    padding:0px 20px;

 }
 .style_formGroup__MFAER input {
    width: 100%;
    line-height: 1.5;
    padding: 11px 0 10px 0;
    border: 1px solid #aeaeae;
    margin: 20px 0 -2px 0;
}
 /* .mob_bikes_tab .style_section__3Muxa{
    width: 50%!important;
    padding: 0px;
 } */
}

@media only screen and (min-width:768px) and (max-width:1023px) {
/*  .mob_bikes_tab .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100{
    display: flex;
    flex-direction: column;
    min-height: 257px;
    margin-top: 8px!important;
    justify-content: center;
    
 } */
  /* .mob_bikes_tab .style_section__3Muxa{
    width: 50%!important;
    padding: 0px;
 } */
 
 /* .mob_bikes_tab .style_section__2BbRb{
    width: 50%!important;
    padding: 0px;
 } */

 .mob_bikes_tab .style_selectBox__39Ezi{
    min-width:100%;
    padding:0px 20px;

 }
 .style_formGroup__MFAER input {
    width: 100%;
    line-height: 1.5;
    padding: 11px 0 10px 0;
    border: 1px solid #aeaeae;
    margin: 20px 0 -2px 0;
}
.desktop-view{display: none}
    .mobile-view{display: inline;}
     .text-color{color: #000;}
     .body {
        width: 53%;
        margin-left: 23%;
        margin-top: 88px;
        border: 1px solid;
        height: auto;
        margin-bottom: 119px;
        padding-bottom: 149px;
    }
    .order-box-first {
        border: 1px solid #909090;
        background-color: #f1f1f1;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 0 0 0 40px;
    }
    .order-box {
        border: 1px solid #909090;
        background-color: #f1f1f1;
        width: 100%;
        margin: 0px 0 0 0;   
        height: auto;   
        padding: 0 0 0 40px;
    }
    .order-btn {
        border: 1px solid #e2e8f0;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 8px 10px 8px;
        font-size: 13px;
        margin: 15px 0 15px 4px;
    }
    .text-sm {
        font-size: 0.875rem;
        margin: 0 0 0 15px;
    }
    .text-sm-bike {
        font-size: 0.875rem;
        margin: 0 0 0 0px;
    }
    .width{
        width: 120px;
        margin: 0 0 14px 15px;
    }
    .custom-top{
        margin-top:60px
    }
    .left {
        margin-left: 58%;
        margin-top: -42px;
    }
    .googleBtn,.facebookBtn{
        margin-left: 0;
        width: 100% !important;
    }
    .react-tabs {
        margin: 0 0 0 0px;
        width: 100%;
    }
    .flex.flex-wrap.justify-end.py-3.bg-bg-filter.w-100 {
        width: 351px;
        margin: -10px 0 0 3px;
       
    }
    .mobile-tab > .iconSpan {
        margin-left: 22%;
        font-size: 19px;
        margin-top: 9px;
    }
    .body > button.uppercase.text-center {
        font-size: 20px;
        
    }
}
.mob_bikes_tab .style_section__2BbRb{
 width:100%;
padding:0px;
}
.head >.iconSpanhelp {
    margin-left: 45%;
    text-align: center;
}
.head >.email {
    margin-left: 36%;
}
.style_formGroup__MFAER .style_error__3JwnK {
    color: #f72929;
   display: block;
    font-size: 12px;
    margin: 3px 0 -5px 26px;
}
.checkboxMargin{
    margin: 0 0 0 22px;
}
.head >.competition{
    margin-left: 36%;
}
.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
    right: -1px;
    top: 0;
    height: 100%;
    border-right: none;
}
p.text-sm.forgorPwd {
    margin: 21px 0 0 70px;
}
.checkbox.checkoxDesign {
    margin: 0 0 0 22px;
}
.labelStyle{
    margin: 4px 0 -1px 0;
}
.BodyContainer_container__3qu6B .react-tabs{
    margin: 0;
 }
 @media screen and (min-width: 1900px) {
     .BodyContainer_container__3qu6B .react-tabs{
         margin: 0 10px 0 9px;
     }
 }
 @media screen and (min-width: 1600px) {
     .BodyContainer_container__3qu6B .react-tabs{
         margin: 0 10px 0 9px;
     }
 }
 .BodyContainer_container__2Jvht .react-tabs{
   margin: 0;
}

@media screen and (min-width: 1400px) {
    .BodyContainer_container__3qu6B .react-tabs{
        margin: 0 10px 0 9px;
    }
}
@media screen and (min-width: 1500px) {
    .BodyContainer_container__3qu6B .react-tabs{
        margin: 0 10px 0 9px;
    }
}

.closeIcon{
    float: right;
  
    width: 25px;
    margin: 5px 7px 0 0;
    font-size: 17px;
    font-weight: bold;
}
