.body {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.5;
        background-image: url('/images/ivanna-vinnicsuk-wuIka6KH9NU-unsplash.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.box {
    width: 30.33%;
    margin: 0 1.5%;
}

.boxWrapper {
    height: 100%;
    padding: 25px;
    max-width: 270px;
    margin: 0 auto;
    border-radius: 20px;
}

.boxTitle {}


.bottomPadding {
    padding-bottom: 900px;
}

@media (max-width: 640px) {
    .box {
        width: 100%;
        margin: 20px auto;
    }

}