
.title1 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.title2 { font-size: 14px; line-height: 1.5; margin-bottom: 0.8rem; color: #454545; }

.indent1 { color: #676767; font-size: 14px; }

.indent2 { color: #676767; font-size: 14px; }

.link { 
    color: rgb(21, 111, 247);
    &:hover { color: rgb(15, 99, 224); text-decoration: underline; }
}