//////////////////////////
//                      //
//    CHECKOUT LIST     //
//                      //
//////////////////////////

.listContainer {
    width: 100%;

}

.listHeader {
    padding: 20px;
    background-color: #3f3f3f;
    color: #fff;
    display: flex;
}

.listFooter {
    text-align: right;
    padding: 10px 15px;
}


.entryCol {
    width: calc(100% - 170px);
    display: flex;

    &.itemBody {
        justify-content: space-around;
    }

    .entryImg {
        width: 50%;

        img {
            width: 100%;
            max-width: 125px;
            margin: auto;
        }
    }

    p {
        width: 50%;
        text-align: left;
        padding: 0 7px;
        display: flex;
        align-items: center;
        font-weight: 600;
        color: #3f3f3f;
    }

    @media (max-width: 768px) {
        .entryImg {
            display: none;
        }

        p {
            width: 100%;
        }
    }
}

.priceCol {
    width: 70px;
    display: flex;
    align-items: center;

    &.itemBody {
        color: #3f3f3f;
    }
}

.amountCol {
    width: 70px;
    display: flex;
    align-items: center;

    &.itemBody {
        color: #3f3f3f;
    }
}

.actionCol {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
        width: 18px;
        height: auto;
        margin: 5px auto;
        cursor: pointer;
        color: #3f3f3f;
        transition: all 0.3s;

        &:hover {
            color: #000;
        }
    }
}

//////////////////////////
//                      //
//    CHECKOUT ITEM     //
//                      //
//////////////////////////

.itemContainer {
    width: 100%;
    margin: auto;
    padding: 10px 15px;
    border: 1px solid #cecece;

    .mainWrapper {
        display: flex;
        justify-content: space-between;
    }

    .childContainer {
        overflow-y: hidden;
        height: 0;
        opacity: 0;
        padding: 0px 15px 0 15px;
        transition: all 0.3s;

        &.showChild {
            margin-top: 10px;
            padding: 10px 15px 0 15px;
            border-top: 1px solid #cecece;
            display: block;
            height: unset;
            opacity: 1;
        }

        .childWrapper {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            .childInfo {
                padding: 0 5px;
            }

            .childRightCon {
                display: flex;
                .childCoords {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    width: 140px;
                    margin-right: 10px;
                }

                .childTrashCon {
                    display: flex;
                    align-items: center;
                    svg {
                        width: 16px;
                        height: auto;
                        color: #3f3f3f;
                        transition: all 0.3s;
                        cursor: pointer;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}


///////////////////////////
//                       //
//     P a y m e n t     //
//                       //
///////////////////////////

.payButtonCon {
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
    }

    .payViaCard {
        background-color: rgb(58, 27, 196);
        &:disabled {
            color: #c0c0c0;
            cursor: not-allowed;
        }
        &:hover {
            background-color: #5838ea;
        }
    }

    .payViaPayPal {
        background-color: rgb(22, 6, 94);
        &:disabled {
            color: #c0c0c0;
            cursor: not-allowed;
        }
        &:hover {
            background-color: #1b0679;
        }
    }
}