@import 'react-redux-toastr/src/styles/index.scss';
@import 'react-rangeslider.css';


@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Thin.woff2') format("woff");
  font-weight: 200;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Light.woff2') format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.woff2') format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Medium.woff2') format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-SemiBold.woff2') format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.woff2') format("woff");
  font-weight: 700;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/fonts/Inter/Inter-Block.woff2') format("woff");
//   font-weight: 700;
// }
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-ExtraBold.woff2') format("woff");
  font-weight: 800;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif, -apple-system, 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *:focus {
  outline: none;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: theme('colors.bg');
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: theme('colors.bg');
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #616161;
}

body.ReactModal__Body--open {
  padding-left: 10px;
  overflow-y: hidden;
}

.ReactModal__Content--after-open::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.ReactModal__Content--after-open::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #616161;
}

.ReactModal__Content--after-open.ReactModal__Body--open {
  padding-left: 10px;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 26px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 14px !important;
}

h6 {
  font-size: 12px !important;
}


@media (max-width: 992px) {
  h1 {
    font-size: 32px !important;
  }
  
  h2 {
    font-size: 28px !important;
  }
  
  h3 {
    font-size: 24px !important;
  }
  
  h4 {
    font-size: 18px !important;
  }
  
  h5 {
    font-size: 13px !important;
  }
  
  h6 {
    font-size: 11px !important;
  }
}


@media (max-width: 767px) {
  h1 {
    font-size: 26px !important;
  }
  
  h2 {
    font-size: 24px !important;
  }
  
  h3 {
    font-size: 18px !important;
  }
  
  h4 {
    font-size: 16px !important;
  }
  
  h5 {
    font-size: 12px !important;
  }
  
  h6 {
    font-size: 10px !important;
  }
}


.common-link {
  color: rgb(21, 111, 247);

  &:hover {
    color: rgb(15, 99, 224);
    text-decoration: underline;
  }
}

#coming-soon {
  width: 100%;
  height: 100vh;
  // refer: https://css-tricks.com/perfect-full-page-background-image/
  background: url('/images/coming_soon.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background: url('/images/coming_soon.jpeg') -25px -50px;
  // background-size: calc(100% + 50px);

  .logo {
    max-width: 150px;
  }
}

#contact-form {
  .form-group {
    margin-top: 10px;
    margin-bottom: 15px;

    label {
      display: none;
      font-size: 14px;
      color: #565656;
    }

    .form-control {
      width: 100%;
      display: block;
      border: 1px solid #dad8d8;
      border-radius: 3px;
      line-height: 1.5;
      font-size: 14px;
      padding: 7px 1rem;
    }
  }

  .info-item {
    display: flex;
    margin: 2rem 0rem;
    color: #fff;
    font-size: 15px;
    svg {
      width: 25px;
      max-height: 30px;
      margin-right: 10px;
      color: #dadada;
    }
  }
}


.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}
