@media only screen and (max-width: 600px) {
    .for_mobile{
        padding: 0px 0px 0px 33%;
    }
    .left {
        margin-left: 16% !important;
     }
     .desktop-view{display: none}
     .mobile-view{display: inline;}
  }

  @media screen and (min-width: 415px){
    .desktop-view{display: none}
    .mobile-view{display: inline;}
  }

 .left {
    margin-left: 54%;
 }
