.bwstyle{
    background-color: #000;
    color: #fff;
    text-align: center;
    textShadow: 1px 2px 3px #fff;
    text-transform: uppercase;
}
.myTab{
    width:50%;
    border-radius:0;
    align-items:center;
     text-transform:uppercase;
    text-align: center;
}
.react_select__control {
    border-radius: 21px !important;
}
.react-tabs {
   
    left: 10px !important;
    margin: 0 10px 0px 9px;
}