.container43 {
    position: relative;
    width: 100%;
    padding-top: 70%;
    // background-color: #f9f9f9;
    // border: 1px solid #8d8d8d;
}

.buttonContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    // background-color: #f0f0f0;
    padding: 15px 5px;
}

.button {
    border: 1px solid #ababab;
    border-radius: 3px;
    padding: 7px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    box-shadow: 8px 8px 16px #d9d9d9,
        -8px -8px 16px #ffffff;

    &:hover {
        box-shadow: 8px 8px 16px #d9d9d9,
            -8px -8px 16px #ffffff;
        background-color: #ffffff;
    }
}

.buttonFocused {
    box-shadow: 8px 8px 16px #d9d9d9,
        -8px -8px 16px #ffffff;
    background-color: #ffffff;
}

.boardContainer {
    position: absolute;
    left: 50px;
    top: 15px;
    width: calc(100% - 150px);
    height: calc(100% - 115px);
    background-color: #000;
}

.mainCanvas {
    width: 100%;
    height: 100%;
}

.hRulerCon {
    position: absolute;
    left: 35px;
    bottom: 0;
    width: calc(100% - 120px);
    height: 100px;
    // background-color: #ececec;
    padding-top: 5px;
}

.hRulerCanvas {
    height: 45px;
    width: 100%;
    // background-color: #efefef;
}

.vRulerCanvas {
    position: absolute;
    width: 55px;
    height: 100%;
    left: 30px;
    top: 0;
    // background-color: #efefef;
}

.vRangeWrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    // transform: rotateZ(90deg);
    height: 100%;
    width: 28px;
}

.vRangerElement {}

.verticalText {
    position: absolute;
    left: 82px;
    top: 0;
    width: 30px;
    height: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 700;

    writing-mode: vertical-rl;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}

.vRulerCon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: calc(100% - 85px);
    // background-color: #e0e0e0;
    overflow: hidden;
}


////////////////////////////////////////////////
//                                            //
//          G A M E    T I C K E T            //
//                                            //
////////////////////////////////////////////////


.ticketContainer {
    display: flex;
    flex-wrap: wrap;

}

.ticket {
    width: 50%;
    padding: 10px;
    
}

@media (max-width: 992px) {
    .ticketContainer {
        display: block;
    }

    .ticket {
        width: 100%;
        max-width: 640px;
        margin: 10px auto;
    }
}

.ticketWrapper {
    border: 1px solid #898989;
    padding: 10px;

    &.selected {
        border-left: 3px solid #353535;
    }
}

.ticketTopContainer {
    display: flex;
    justify-content: space-between;
}

.ticketInfoGroup { 
    font-size: 13px;
    font-weight: 600;
}

.ticketCounter {
    font-size: 14px;
}

.trashIcon {
    color: #3f3f3f;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: #000;
    }
}

.ticketBottomContainer {
    display: flex;
    margin-top: 15px;
}


.bikeImg {
    position: relative;
    width: 100%;
    padding-top: 51%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
    img {
        position: absolute;
        left: 0;
        top: 0;
        // height: 100%;
        width: 100%;
    }
}

.ticketInputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    label {
        font-size: 12px;
        width: 55px;
        font-weight: 600;
        margin-right: 5px;
    }

    input {
        border: 1px solid #3f3f3f;
        max-width: 60px;
        font-size: 13px;
        padding: 2px 10px;
        border-radius: 25px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.ticketBottomButton {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 0.3s;
    color: #3f3f3f;

    &:hover {
        color: #000;
    }
    svg {
        width: 26px;
        height: 26px;
        margin: 5px auto;
    }
    span {
        font-size: 14px;
    }
}

.btnCheckout {
    background-color: #3f3f3f;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s;
    
    &:hover {
        background-color: #fff;
        border: 1px solid #3f3f3f;
        color: #3f3f3f;
    }
}

// Input Ranger Styling

.minLabel {
    display: none;
}