.wrapper {
    width: 25%;
    padding: 10px;
    position: relative;
}

.sectionContainer {
    position: relative;
    // border: 1px solid #e6e6e6;
    padding: 10px;
    // background: #e6e6e6;
    box-shadow: 0 0 10px #eaeaea;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;

    &:hover {
        box-shadow: 5px 5px 10px #c5c4c4;
        .hoverPrice {
            top: 0;
        }
    }
}

.hoverPrice {
    position: absolute;
    left: 0;
    top: -150%;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    transition: all 0.3s;
}

.hoverCount {
    color: #000;
    font-weight: 600;
}

.price {
    color: #787878;
    margin-right: 7px;
    font-weight: 600;
}

.countSelector {
    margin-top: 5px;
    display: flex;
    background-color: #898989;
}

.countList {
    width: 100%;
    background-color: #F4F4F4;
    font-weight: 500;
    display: flex;
    justify-content: space-around;

    span {
        width: 100%;
        text-align: center;
        &:hover { background-color: #cdcdcd; }
    }
}

.imgWrapper {
    position: relative;
    padding-top: 56.25%;
}

.bikeImg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 992px) {
    .hoverPrice {
        display: none !important;
    }
    .wrapper {
        width: 33.3%;
    }
}

@media (max-width: 768px) {
    .hoverPrice {
        display: none !important;
    }
    .wrapper {
        width: 50%;
    }
}

@media (max-width: 640px) {
    .hoverPrice {
        display: none !important;
    }
    .wrapper {
        width: 50%;
    }

    .price {
        margin-right: 5px;
    }
}

  
