.container {
    position: fixed;
    right: 0;
    top: 115px;
    height: 100%;
    width: 360px;
    background-color: #fff;
    box-shadow: -1px 4px 6px 2px #00000057;
    color: #353535;
    z-index: 99;
    transition: all 0.35s ease-in-out;
}

.hideCart {
    right: -110%;
}

.scollContainer {
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 1px 5px 1px #00000057;
}

.scollContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scollContainer::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.scollContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #616161;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    label {
        font-weight: 700;
        font-size: 15px;
    }
    p {
        font-size: 14px;
        font-weight: 600;
    }
}

.flexBetweenTotal {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    label {
        font-weight: 700;
        font-size: 16px;
    }
    p {
        font-size: 15px;
        font-weight: 700;
    }
}





.cartItem {
    position: relative;
    height: 90px;
    width: calc(100% - 10px);
    margin: 5px;
    border: 1px solid #353535;
    color: #353535;
    // display: flex;
    justify-content: space-between;
}

.countContainer {
    width: 26px;
    height: 100%;
    background-color: #3f3f3f;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartNumber {
    color: #fff;
    font-size: 14px;
}

.countHandler {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    color: #232323;
    font-size: 20px;
    line-height: 16px;
    margin: 3px auto;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: #dedede;
    }
}

.imgContainer {
    // width: 100px;
    // margin: auto 10px;
    position: absolute;
    left: 35px;
    top: 0;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartImage {
    width: 100%;
}

.brandModelCon {
    position: absolute;
    left: 150px;
    top: 0;
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.priceCon {
    position: absolute;
    left: 270px;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vFlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 15px;
}

.type {
    font-size: 14px;
    font-weight: bold;
}

.brand {
    font-size: 13px;
    font-weight: 600;
}

.price {
    font-size: 13px;
    font-weight: 600;
}

.trashContainer {
    position: absolute;
    left: 325px;
    top: 0;
    // width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trashIcon {
    width: 16px;
    color: #353535;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: #787878;
    }
}

.divider {
    width: calc(100% - 10px);
    margin: 5px 5px;
    border-bottom: 1px solid #000;
}

.readyButton {
    background-color: #3f3f3f;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7rem 0;
    width: calc(100% - 10px);
    margin: 1rem 5px 0 5px;
}