
.section {
    padding: 0 10px;
    position: relative;
    // overflow-x: hidden;
}

.textContainer {
    position: absolute;
    top: 40%; left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    color: white; text-align: center;
    
}

.selectContainer {
    padding: 0 15px;
    font-size: 14px;
    margin: 10px 0;
    label { 
        margin-right: 10px;
    }
}

.selectBox {
    display: inline-block;
    min-width: 140px;
}

.imgWrapper {
    max-height: 570px;
    overflow-y: hidden;
}

.image {
    width: 100%;
}

@media (max-width: 1366px) {
    .section { padding: 0; }
}

@media (max-width: 767px) {
    .imgWrapper {
        display: flex; justify-content: center;
        overflow: hidden;
    }
}

@media screen and  (max-width: 730px) {
}


@media (max-width: 640px) {
    .image {
        height: 300px;
        width: auto;
        max-width: unset;
        margin: auto;
    }    
    .selectContainer {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .selectBox { min-width: 100px; }
}

@media (max-width: 640px) {
    .selectContainer {
        font-size: 10px;
        padding: 0 5px;
    }
    .selectBox { min-width: 90px; }
}