.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    width: 142px;
    background-color:#3f3f3f;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownList >li >a {
    color: #fff;
    text-decoration: none;
}
.dropdownList >li {
    padding: 8px 16px;
    
}
.dropdownList > li:last-child {
    border-bottom: none;
}

