
.stickyHeader {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 998;
}

.menuHamburg {
    width: 40px;
    height: 40px;
    padding: 7px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #898989;
    box-sizing: border-box;
    display: none;
    transition: all 0.3;
    opacity: 1;
    cursor: pointer;
    span {
        display: block;
        height: 2px;
        background: #fff;
        margin-top: 6px;
        // margin-bottom: 5px;
        transition: all 0.3s;
        transform: translate(0,0) rotate(0);
        &:first-child { margin-top: 3px; }
    }
    &:hover{ background-color: #272727; }
    &.hover {
        span:first-child {
            transform: translate(0,9px) rotate(-45deg);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: translate(0,-9px) rotate(45deg);
        }
    }
}

.outerWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.logoContainer {
    // display: flex;
    // flex-wrap: nowrap;
    // align-items: center;
}

.logo {
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-bottom;
}

.appName {
    font-size: 36px;
    font-family: sans-serif;
    cursor: pointer;
}

.menuContainer {
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.menuItem {
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

.authContainer {
    display: flex;
    align-items: center;
}

.userIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    &:hover { color: #e1e1e1; }
}

.cartIcon {
    display: inline-block;
    // width: 30px;
    height: 20px;
    margin-left: 7px;
    cursor: pointer;
    &:hover { color: #e1e1e1; }
}

.mobileCartIcon {
    display: none;
    // width: 30px;
    height: 20px;
    margin-left: 7px;
    cursor: pointer;
    &:hover { color: #e1e1e1; }
}

@media (max-width: 1144px) {
    .logo {
        width: 36px;
    }

    .appName {
        font-size: 30px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 992px) {
    .menuHamburg {
        display: block;
    }

    .menuContainer {
        display: none;
    }

    .mobileCartIcon { display: inline-block; }

    .logoContainer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo {
        width: 36px;
    }

    .appName {
        font-size: 32px;
        white-space: nowrap;
    }

    .authContainer {
        display: none;
        // position: absolute;
        // right: 10px;
    }
}


@media screen and (max-width: 768px) {
    .logoContainer { width: 235px; }

    .logo {
        width: 32px;
    }

    .appName {
        font-size: 28px;
        white-space: nowrap;
    }
}



// @media screen and (max-width: 640px) {
//     .logo {
//         width: 32px;
//     }

//     .appName {
//         font-size: 28px;
//         white-space: nowrap;
//     }
// }