.logo {
    width: 200px;
}

.navMenuItem {
    padding: 5px 10px 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #353535;
    transition: all 0.2s;
    &:hover { 
        color: #000;
        text-shadow: 0px 1px 3px #6b6b6b;
    }
}