.firstMenu {
    text-transform: uppercase;
    display: block;
    color: #D3D3D3;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 15px;
}

.menuItem {
    display: block;
    color: #D3D3D3;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 0;
}

.subscribeHead {
    display: block;
    color: #D3D3D3;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.socialIcon {
    width: 30px;
    margin: 15px 0px 0 0;
}

@media screen and (max-width: 768px) {
    .firstMenu {
        margin-bottom: 10px;
    }

    .subscribeHead {
        margin-bottom: 10px;
    }
}