.formGroup {
    width: 50%;
    padding: 1rem 0.5rem;

    input {
        width: 100%;
        line-height: 1.5;
        padding: 0.5em;
        border: 1px solid #aeaeae;
    }

    .error {
        color: #f72929;
        display: block;
        font-size: 12px;
        padding-top: 5px;
    }

}

@media (max-width: 768px) {
    .formGroup {
        width: 100%;
    }
}

.wFull {
    width: 100%;
}

.submitButton {
    padding: 0.5rem 1.5rem;
    min-width: 50%;
    text-align: center;
    color: #fff;
    background-color: #3f3f3f;
    transition: all 0.3s;

    &:hover {
        background-color: #535353;
    }

    &:disabled {
        background-color: #535353;
        color: #efefef;
        cursor: not-allowed;
    }
}